{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row", style="height:180px">
            <div class="col">
                <h2 class="text-center" style="color: black;font-family: 'Ubuntu Light'; margin-top: 20px;margin-bottom: 30px">Welcome <b>user</b><br></h2>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-12 text-center"><a class="btn btn-outline-primary btn-lg" role="button" href="/admin_page/" style="margin:10px;">
                <img width="100px" src="/static/img/buttons/adminButton.png"></a>
            </div>
            <div class="col-lg-12 text-center"><a class="btn btn-outline-primary btn-lg" role="button" href="/go_to_class/" style="margin:10px;">
                <img width="100px" src="/static/img/buttons/classButton.png"></a>
            </div>
        </div>
    </div>
{% endblock %}
